{% extends 'layouts/app.njk' %}

{% block title %}Список свертанных страниц{% endblock %}

{% block content %}
    <div class="container p-6 bg-light">
        <h1>Список свертанных страниц</h1>
        <ul>
            <li><a href="main.html">Главная</a></li>
            <li><a href="page.html">Какая-то там страница</a></li>
        </ul>
    </div>
{% endblock %}
