{% extends 'layouts/app.njk' %}

{% block title %}Index{% endblock %}

{% block content %}
    <div class="container p-6 bg-light">
        <h1>Index <i class="ml-4 icon-picture"></i></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid atque blanditiis consequatur
            cupiditate delectus deleniti dignissimos, eos error esse eveniet ex exercitationem inventore itaque
            laboriosam libero magni maxime nisi non odit officiis pariatur perferendis perspiciatis quas quia ratione
            rem repudiandae sapiente suscipit tempore vel voluptas voluptates. Consectetur, dignissimos fuga perferendis
            possimus quia ut voluptatem. Alias consequatur cumque cupiditate dolorum eligendi exercitationem illo
            impedit ipsum magnam maiores maxime nesciunt nobis officiis perferendis quas reiciendis rem repellat rerum
            sapiente sed, temporibus veniam veritatis.</p>
    </div>
{% endblock %}
